@charset "utf-8";

/* header시작 */
img
{
	margin-left:0px;
}
#all {
    width: 100%;
    height: auto;
}
.clearfix {
    width: 100%;
    zoom: 1;
}
body {
    font-family: "Nanum Gothic", "Malgun Gothic", "돋움", Dotum,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.3em;
}
.clearfix:after {
    content: "";
    display: block;
    visibility: hidden;
    clear: both;
}
#head {
    width: 100%;
}
.head_sec1 {
	min-width: 980px;
    position: relative;
    width: 70%;
    height: 150px;
    margin: 0 auto;
    padding-top: 50px;
}
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    cursor: pointer;
}
.head_sec1 h1 img {
    margin-top: 12px;
}
img, video {
    max-width: 100%;
    border: none;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: top;
}
a:link, a:visited {
    color: #555;
}
a {
    text-decoration: none;
    color: #777;
}
a:-webkit-any-link {
    color: #555;
    cursor: pointer;
}
.head_sec1 h1 {
	min-width: 980px;
    margin-top: 0;
    text-align: left;
    margin-top: 21px;
    text-align: center;
}

h1 {
    font-size: 2em;
    font-weight: bold;
}
.head_right {
    float: right;
    position: absolute;
    top: 0;
    right: 0;
    width: 280px;
    height: auto;
    padding-top: 70px;
    z-index: 1;
    margin-top: 21px;
}
ul, ol, dl {
    list-style: none;
}
ul {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 31px;
    list-style:none;
}
li
{
	list-style: none;
}
.head_right .sns {
	position: relative;
    height: 100px;
    margin: 0 0 0 9px;
}
.plus2 {
    float: left;
    position: relative;
    box-sizing: border-box;
    width: 37px;
    height: 37px;
    border: 1px solid #d6001d;
    background-color: #fff;
}
.head_right .sns > li {
    float: left;
}
.plus2 a {
    display: block;
    box-sizing: border-box;
    width: 37px;
    height: 37px;
    line-height: 37px;
    color: #fff;
    font-size: 30px;
    text-align: center;
    text-indent: -999em;
}
li img
{
	width: 37px;
    height: 37px;
}
div#navi_wrap {
    width: 100%;
    height: 47px;
    border-bottom: 1px solid #ebebeb;
}
.depth1>a {
    display: block;
    height: 100%;
    font-size: 22.5px;
    font-weight: 700;
    font-family: 'juaa';
    line-height: 47px;
    text-align: center;
}
.hidden {
    display: none !important;
}
div#navi_wrap #navigation {
    width: 96%;
    max-width: 1120px;
    height: 47px;
    margin: 0 auto;
    zoom: 1;
}
div#navi_wrap #navigation:after {
    content: "";
    clear: both;
    display: block;
}
div#navi_wrap #navigation .depth1 {
    float: left;
    width: 25% !important;
    height: 47px;
}
div#navi_wrap #navigation .depth1 > a {
    display: block;
    height: 100%;
    font-size: 17.5px;
    font-weight: 700;
    font-family: 'Spoqa Han Sans';
    line-height: 47px;
    text-align: center;
}
div#navi_wrap #navigation .depth2 {
    left: 0;
    padding: 30px 0 50px;
    font-size: 0;
    border-top: 1px solid #ebebeb;
}
div#navi_wrap #navigation .depth2>ul>li>a {
    display: block;
    margin-bottom: .7em;
    font-family: 'juaa';
    font-size: 17.5px;
    font-weight: 500;
    line-height: 1.3;
    word-break: keep-all;
    margin-right: 50px;
}
div#navi_wrap #navigation .depth2>ul {
    max-width: 930px;
    width: 100%;
    margin: 0 auto;
}
div#navi_wrap #navigation .depth2>ul>li {
    display: inline-block;
    margin: 0;
    line-height: 1.8;
    letter-spacing: -.05em;
    vertical-align: top;
}
div#navi_wrap #navigation .depth2>ul>li>ul>li>a {
    position: relative;
    display: block;
    padding-left: 7px;
    color: #666;
    font-family: 'juaa';
    font-size: 15px;
    list-style-type: disc;
}
div#navi_wrap #navigation .depth2>ul>li>ul>li>a:after {
    position: absolute;
    top: .8em;
    left: 0;
    width: 2px;
    height: 2px;
    background: #a5a5a5;
    content: "";
}
div#navi_wrap #navigation .depth2>ul>li>ul>li {
    width: 100%;
    padding-inline-start: 0px;
}
div#navi_wrap #navigation .depth2>ul>li>ul {
	position: relative;
    width: 100%;
}
div#navi_wrap #navigation .depth1>a {
    display: block;
    height: 100%;
    font-size: 22.5px;
    font-weight: 700;
    font-family: 'juaa';
    line-height: 47px;
    text-align: center;
}
li#nav_menu1>a {
    color: #0072bc;
}
li#nav_menu1>a:hover {
	color:white;
    background-color: #0072bc;
}
li#nav_menu2>a {
    color: #ffa013;
}
li#nav_menu2>a:hover {
	color:white;
    background-color: #ffa013;
}
li#nav_menu3>a {
    color: #f1592a;
}
li#nav_menu3>a:hover {
	color:white;
    background-color: #f1592a;
}

#chat
{
	position: relative;
	width: 55px;
	height: 55px;
	border-radius: 50%;
	cursor: pointer;
}

#sitemap
{
	position: relative;
	width: 55px;
	height: 55px;
	border-radius: 50%;
	cursor: pointer;
}

#login
{
	position: relative;
	width: 55px;
	height: 55px;
	border-radius: 50%;
	cursor: pointer;
}
.leftboaer
{
	margin-left: 15px;
	
}
#head_sec2 {
    width: 85%;
    height: 45px;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: right;
}
.path {
    float: right;
    display: block;
    margin-left: 5px;
    margin-top: 10px;
    vertical-align: top;
}
.sub
{
	width: 180px;
	height:auto;
	background-color: white;
	display:none;
	box-shadow: 10px 5px 5px #ebebeb;
	border:1px solid #ebebeb;
	padding-right:20px;
	border-radius: 20px;
}
.sns > li
{
	float:left;
}
#change, #logout
{
	background-color: white;
	display: inline-block;
	margin-top:10px;
	margin-bottom:5px;
}

#input
{
	width:150px;
}
.main
{
	margin-left:18px;
}
#logout:hover
{
	background-color:#EDF5FF;
	color:#6DA1F6;
}
#change:hover
{
	background-color:#EDF5FF;
	color:#6DA1F6;
}
.sub_wrap 
{
    width: 1200px;
    margin: 0 auto;
}
.s_title 
{
    padding: 20px 0 10px;
    margin: 0 0 50px;
    border-bottom: 1px solid #e2e2e2;
}
.s_title h2 
{
    padding: 0 0 10px;
    font-size: 2rem;
    color: #003466;
    font-weight: 500;
}
.sub_search 
{
    padding: 30px 0 40px 0;
    position: relative;
    text-align: center;
    overflow: hidden;
}
.sch_bar 
{
    border: 5px solid #3A3E56;
    display: inline-block;
    padding: 5px 0 5px 12px;
    height: 30px;
    width: 450px;
}
.sch_sel 
{
    border: 1px solid #fff;
    width: 100px;
    margin-top: 7px;
}
.sch_txt 
{
    border: 1px solid #fff;
    font-size: 16px;
    width: 300px;
    height:31px;
}
.sc_btn 
{
    background: #3A3E56;
    color: #fff;
    cursor: pointer;
    width: 20%;
    height: 50px;
    font-size: 16px;
    text-align: center;
}
legend
{
    display: none;
    margin: 0;
    padding: 0;
}
fieldset 
{
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 2px;
    border-style: groove;
    border-color: threedface;
    border-image: initial;
    border: none;
    margin: 0 0 20px 0;
    padding: 0;
}
.sch_more 
{
    padding: 20px;
}
.sch_more 
{
    background: #f4f6fb;
    padding: 10px;
    margin: auto;
    width: 100%;
    text-align: center;
}
.sch_more label 
{
    margin: 0 10px 0 3px;
}
.sch_tab 
{
    margin: auto;
}
.basic_tab02 
{
    overflow: hidden;
    width: 100%;
    text-align: center;
}
.basic_tab li, .basic_tab02 li 
{
    width: 20%;
}
.basic_tab02 li:before 
{
    background: url(/images/01_portal/common/icon_bullet.png) no-repeat 4px -116px #cbcbcb;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 14px;
    right: 20px;
    display: inline-block;
    border-radius: 50%;
    content: "";
}
.basic_tab02 li span
{
	cursor:pointer;
    display: block;
    padding: 10px 30px 8px 10px;
    box-sizing: border-box;
    height: 45px;
    font-size: 1.1333rem;
    background: url(/images/01_portal/common/tab02.png) no-repeat right center;
    border-bottom: solid 1px #cbcbcb;
}
.basic_tab02 li 
{
    float: left;
    box-sizing: border-box;
    padding: 4px 10px 0 0;
    position: relative;
}
.basic_tab02 li:hover:before, .basic_tab02 li.on:before 
{
    background-color: #ecaaa7;
}
a, button, submit 
{
    transition: .2s ease-in-out;
}
a
{
	text-decoration: none;
    color: #000;
    border: none;
    margin: 0;
    padding: 0;
}
.sch_con 
{
    overflow: hidden;
}
.sch_result 
{
    padding: 20px;
    margin: 30px 0 20px;
    text-align: center;
    position: relative;
    font-size: 20px;
    font-weight: 500;
}
.sch_result:before 
{
    content: "\00ab";
    padding-right: 20px;
    color: #223e99;
    font-size: 30px;
    vertical-align: middle;
}
.sch_result span 
{
    margin: 0 20px 0 0;
    padding: 0 20px 0 0;
    border-bottom: 0;
    border-right: 1px solid #cdcdcd;
    display: inline-block;
    vertical-align: middle;
}
.sch_result p 
{
	vertical-align: middle;
    display: inline-block;
}
.sch_result:after 
{
    content: "\00bb";
    padding-left: 20px;
    color: #223e99;
    font-size: 30px;
    vertical-align: middle;
}
::selection 
{
    background: #4a5273;
    color: #fff;
    text-shadow: none;
}
.sch_left .sch_col .tit 
{
    padding: 20px;
    margin: 40px 0 20px 0;
    background: #f4f6fb;
}
.sch_left .sch_col .more 
{
    text-align: right;
    margin: 20px 0 50px 0;
}
.sch_conlist li
{
    border-bottom: 1px dotted #dedede;
    padding: 0 0 20px 0;
    margin: 0 0 20px 0;
    font-size: 14px;
    line-height: 1.5em;
}
.sub_wrap a:hover 
{
    text-decoration:underline;
}
.sch_left .sch_col .more a:after 
{
    content: "\2192";
}
.sch_left .sch_col .tit .num strong 
{
    color: #e21207;
    vertical-align: baseline;
}
.fc_red 
{
    color: #d7182a !important;
    vertical-align: baseline;
}
.sc_point 
{
    background: #FFFF33;
    font-style: normal;
    vertical-align: top;
}
.highlight
{
	background: #FFFF33;
    font-style: normal;
}
.highlight2
{
	font-style: normal;
}
li strong, li input[type="checkbox"], li label
{
	vertical-align: middle;
}
/* header끝 */












/* footer시작 */

.address
{
	color:white;
	text-align:center;
}
#guide {
    width: 100%;
    height: 85px;
    margin-top: 50px;
    background-color: #eaeced;
}
#bottom {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0 0 15px;
    background: #3a373e;
}
#bottom #footer {
    margin: 0 auto;
    padding: 40px 0;
}

/* footer끝 */